app-ids/src/xml_validation/configuration_file.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CONFIG">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
				 <xs:element type="xs:integer" name="PID"/>
         <xs:element type="xs:string" name="PNAME"/>
				</xs:choice>
        <xs:element  name="WINDOW_SIZE">
			<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="500"/>
			</xs:restriction>
			</xs:simpleType>
		</xs:element>
        <xs:element type="xs:string" name="DB_HOST"/>
        <xs:element  name="BROKER_IP">
			<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-2]?[0-9]?[0-9]\.[0-2]?[0-9]?[0-9]\.[0-2]?[0-9]?[0-9]\.[0-2]?[0-9]?[0-9]|localhost"/>
			</xs:restriction>
			</xs:simpleType>
		</xs:element>
        <xs:element  name="STORAGE_MODE">
			<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="False|True"/>
			</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element  name="LOGGINGLEVEL">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="DEBUG|WARNING|CRITICAL|INFO"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>