app-ids/src/xml_validation/stide_syscall_formatter_xml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Refined">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Syscalls">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SYSCALL" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="ProcessInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

