app-ids/src/xml_validation/syscall_tracer_xml.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Syscall_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ProcessInfo"/>
        <xs:element name="Syscalls">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Syscall" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

